html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: grid;
  max-width: 100lvw;
  grid-template-columns: 1fr;
  background-color: #e6e6e6;
  font-family: "ABC Monument G Mono";
  background-color: #000;
}

* {
  box-sizing: border-box;
  text-transform: lowercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
figure,
figcaption,
pre,
code,
button,
input,
textarea,
select,
option {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  background-color: inherit;
}

#log-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100vw;
  gap: 1rem;
  padding: 1rem;
}

#log-wrapper .log {
  display: block;
  background-color: #fff;
  border: solid 1px #000;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  color: #000;
  width: fit-content;
  animation: fade-in 150ms ease-in-out forwards;
}

#log-wrapper .log.success {
  background-color: #0f0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#log-wrapper .log.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    height: 0;
    padding: 0;
    margin-top: -1rem;
  }
}

#log-wrapper .log.error {
  background-color: #f00;
}

.canvas-wrapper {
  top: 0;
  left: 0;
  grid-area: canvas;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100svh;
  padding: 0;
}

body {
  transition: all 0.5s ease-in-out;
}

body:fullscreen {
  cursor: none;
  margin: 0;
}

div > canvas {
  width: 100% !important;
  height: auto !important;
  max-width: 100svw;
  max-height: 100svh;
  /* aspect-ratio: 4480 / 2520; iMac */
  aspect-ratio: 16/ 9 !important;
  transition: all 0.5s ease-in-out;
  object-fit: contain;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}
